<% flash.each do |name, msg| %>
	<% unless name == "welcome" %>
  <div class="callout <%= flash[:notice] ? "success" : "alert" %> radius" data-closable>
    <%= msg %>
    <button class="close-button unselectable" aria-label="Dismiss alert" type="button" data-close>
  		<span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% end %>
<% end %>