<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
<!-- Slideshow, Newest Item, Recently Reduced Item -->
<div class="row">
	<div class="small-8 columns">
		<section class="fade slider">
			<div>
				<img src="http://placehold.it/350x300?text=1">
			</div>
			<div>
				<img src="http://placehold.it/200x300?text=2">
			</div>
		</section>
		<script>
			$('.fade').slick({
				dots: true,
				infinite: true,
				speed: 500,
				fade: true,
				cssEase: 'linear'
			});
		</script>
	</div>
	<div class="small-4 columns">
		<div class="row">

		</div>
		<div class="row">

		</div>
	</div>
</div>

<!-- Category Icons and Links -->
<div class="row">

</div>

<!-- Interesting Items -->
<!-- Most Popular Items -->
<div class="row">

</div>
<!-- Discounted Items -->
<div class="row">

</div>