<!-- This partial represents a single item info card -->

<!-- image -->
<div class="row text-center">
	<% options = {height: '150', width: '150', class: "item-image unselectable", alt: "No Image Available"} %>
	<%= image_tag(getThumbnailPath(@item.name), options) %>
</div>

<!-- if active/available -->
<% if @item.active %>
	<!-- Price -->
	<div style="font-weight: bold; font-size: 20px;">
		<% if @item.current_price != nil %>
			<%= sprintf "$%.2f", @item.current_price %>
		<% else %>
			<span style="font-style: italic">Price Not Set</span>
		<% end %>
	</div>

	<!-- stock notification -->
	<% if @item.reorder? %>
		<span class="red-text" style="font-weight: bold; font-size: 14px;">LOW STOCK</span><br/>
	<% end %>
	
<!-- if inactive/unavailable -->
<% else %>
		<span class="red-text" style="font-weight: bold; font-size: 14px;">NOT AVAILABLE</span>
<% end %>

<!-- name -->
<%= @item.name %><br/>