<div class="row">
	<div class="small-2 columns" style="position: relative;" data-sticky-container>
		<%= render :partial => "item_browse_filters" %>
	</div>
	<div class="small-10 columns">
		<div>
			<%= render :partial => "item_browse" %>
		</div>
	</div>
</div>
<script>
	function checkControlsOffset() {
		height = $('#item-browse-filters').offset().top + $('#item-browse-filters').height();
		otherHeight = $(document).scrollTop() + window.innerHeight - $('#footer').height() + 10;
		if( height >= $('#footer').offset().top)
			$('#item-browse-filters').css('position', 'absolute');
		if( otherHeight < $('#footer').offset().top )
			$('#item-browse-filters').css('position', 'fixed'); // restore when you scroll up
	}

	$(document).scroll(function() {
		// checkControlsOffset();
	});
</script>