<div class="row">
	<div class="small-2 columns" style="position: relative;">
		<%= render :partial => "item_browse_controls" %>
	</div>
	<div class="small-10 columns">
		<%= render :partial => "item_browse" %>
	</div>
</div>
<script>
	function checkControlsOffset() {
		height = $('#item-browse-control').offset().top + $('#item-browse-control').height();
		otherHeight = $(document).scrollTop() + window.innerHeight - $('#footer').height() + 10;
		if( height >= $('#footer').offset().top)
			$('#item-browse-control').css('position', 'absolute');
		if( otherHeight < $('#footer').offset().top )
			$('#item-browse-control').css('position', 'fixed'); // restore when you scroll up
	}

	$(document).scroll(function() {
		checkControlsOffset();
	});
</script>