<div class="row">
	<div class="small-6 small-offset-3 columns">
		<h3>Edit School</h3>
		<%= render 'form' %>
	</div>
	<div class="small-3 columns">
		<% if @school.errors.any? %>
			<div id="error_explanation" class="orange-border">
				<div style="color: #e77600; margin-bottom: 10px; font-style: bold !important;">
					<%= pluralize(@school.errors.count, "fix") %> needs to be made:
				</div>

				<ul style="font-size: 12px;">
					<% @school.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
	</div>
</div>
