/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui/autocomplete
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 *= require foundation_and_overrides

 */

 * {
 	-webkit-transition: 0.2s; /* For Safari 3.1 to 6.0 */
	transition: 0.2s;
 }

 .clickable {
 	cursor: pointer;
 }

 table .user-link {

 }
 table .user-link:hover {
 	filter: brightness(80);
 }
 form .form-inline {
 	display: inline;
 	float: left;
 }

 .large-basic-container {
 	max-width: 900px;
 	margin: 0 auto;
 }

 input,
 select {
 	border-radius: 4px !important;
 }
 input:focus,
 select:focus {
 	box-shadow: none !important;
 }

 .reveal:hover,
 .reveal:focus {
 	outline: 0;
 }

 body {
 	overflow: auto !important;
 }
 body a {
 	
 }
 body a:hover {
 	color: #47576b;
 }

 .margin-20-top {
 	margin-top: 20px !important;
 }

 .container {
 	width: 75% !important;
 }

 .unselectable {
 	-webkit-user-select: none; /* Chrome/Safari */        
 	-moz-user-select: none; /* Firefox */
 	-ms-user-select: none; /* IE10+ */

 	/* Rules below not implemented in browsers yet */
 	-o-user-select: none;
 	user-select: none;
 }

 .seventy-container {
 	width: 70%;
 	margin: 0px auto;
 }

 .darken-on-hover:hover {
	-webkit-filter:brightness(75%);
	-moz-filter:brightness(75%);
	filter: url(#brightness); /* required for FF */
	filter:brightness(75%);
 }

 .grey-border {
 	border: 1px solid #d6d8db;
 	border-radius: 5px;
 	padding: 20px 30px;
 	margin-top: 10px;
 	margin-bottom: 20px;
 }
 .orange-border {
 	border: 1px solid #e77600;
 	border-radius: 5px;
 	padding: 20px 30px;
 }

 button:focus {outline:0;}

 .link-button {
 	color: #37475a;
 	cursor: pointer;
 }
 .link-button:hover {
 	color: #e4bb59;
 }
 .grey-button {
 	text-align: center;
 	background-color: #f2f3f6;
 	padding-left: 15px;
 	padding-right: 15px;
 	padding-top: 10px;
 	padding-bottom: 10px;
 	border-radius: 3px; 
 	border: 1px solid #a7a7a7;
 	color: black;
 }
.grey-button:hover {
	background-color: #d6d8db;
	text-decoration: none !important;
	cursor: pointer; }
.grey-button:hover, .grey-button:focus {
	color: black; 
	outline: none;}

.gold-button {
	text-align: center;
	background-color: #f4d078;
 	padding-left: 15px;
 	padding-right: 15px;
 	padding-top: 10px;
 	padding-bottom: 10px;
 	border-radius: 3px; 
 	border: 1px solid #a88734;
 	color: black;
}
.gold-button:hover {
	background-color: #e4bb59;
	text-decoration: none;
	cursor: pointer; }
.gold-button:hover, .gold-button:focus {
	color: black;
	outline: none; }

.form-field {
	border-radius: 4px !important;
	margin-bottom: 0px !important;
}

select {
	padding-right: initial !important;
}

.field_with_errors {
	background-color: #fff !important;
}
.field_with_errors label {
	font-weight: bold;
	color: #e01313;
}

hr.grey-line {
	position: relative;
	border-color: #d6d8db;
	background-color: #d6d8db;
	color: #d6d8db;
	border-style: solid;
	margin-top: 7px;
}

.callout {
	position: relative;
	top: 10px;
	border-radius: 10px;
}

/* Colors */
.red {
	background-color: #e01313 !important;
}
 .red-text {
 	color: #e01313 !important;
 }
 .navy-blue {
 	background-color: #37475a !important;
 }
 .navy-blue-text {
 	color: #37475a !important;
 }
 .dark-navy-blue {
	background-color: #232f3e !important;
 }
 .dark-navy-blue-text {
 	color:  #232f3e !important;
 }
 .navy-blue-black {
 	background-color: #131a22;
 }
 .navy-blue-black-text {
 	color: #131a22;
 }
 .grey-text {
 	color: #a7a7a7 !important;
 }
 .grey {
 	background-color: #a7a7a7 !important;
 }
 .dark-grey-text {
 	color: #676767;
 }
 .dark-grey {
 	background-color: #676767;
 }
 h5 {
 	font-weight: bold !important;
 }
 h4 {
 	font-weight: bold !important;
 }
 h3 {
 	font-weight: bold !important;
 }
 h2 {
 	font-weight: bold !important;
 }
 .section {
	border: 1px solid #dddddd;
	border-radius: 5px;
	padding: 5%;
}

 .section-label {
 	font-family: "Arial Black";
 }

 /* positioning */
 .eighty-width {
 	width: 80%;
 }
 .full-width {
 	width: 100%;
 }

/*auto complete widget*/
#item-search
.item-search {
	border-radius: 4px !important;
}
.ui-autocomplete-input {
	border-radius: 4px !important;
}
ul.ui-autocomplete {
    list-style: none;
    -webkit-transition: 0s; /* For Safari 3.1 to 6.0 */
	transition: 0s;
}

ul.ui-autocomplete:hover {
    /*This is the list of items*/
}

.ui-menu-item-wrapper {
	padding: 3px 10px;
	font-size: 15px;	
}

.ui-menu-item-wrapper:hover {
	background-color: #d6d8db;
	color: black;
	border: none;
}

 /* Pagination Styles */
.item-pagination {
margin-top: 20px;
text-align: center;
padding: 1em;
cursor: default;
/* self-clearing method: */ }
.item-pagination a, .item-pagination span, .item-pagination em {
padding: 0.5em 0.8em; 
border-radius: 3px; 
background-color: #ebedef;
-webkit-transition: 0.2s; /* For Safari 3.1 to 6.0 */
transition: 0.2s; }
.item-pagination .disabled {
background-color: white;
color: #999999;
border: 1px solid #dddddd; }
.item-pagination .current {
font-style: normal;
font-weight: bold;
color: #E77600;
border: 1px solid #E77600;
background-color: white; }
.item-pagination a {
text-decoration: none;
color: black;
border: 1px solid #a7a7a7; }
.item-pagination a:hover, .item-pagination a:focus {
color: black;
background: #d6d8db; }
.item-pagination .page_info {
background: #2e6ab1;
color: white;
padding: 0.4em 0.6em;
width: 22em;
margin-bottom: 0.3em;$(function(){ $(document).foundation(); });
text-align: center; }
.item-pagination .page_info b {
color: #000033;
background: #6aa6ed;
padding: 0.1em 0.25em; }
.item-pagination:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden; }
* html .item-pagination {
height: 1%; }
*:first-child + html .item-pagination {
overflow: hidden; }

/* Item Browse List */
.item-browse {
	font-size: 15px;
	position: relative;
	top: -10px;
}
.item-row {
	border-top: 1px solid #d7d7d7;
	padding: 15px 0px;
}

.item-block {
	position: relative;
	padding: 10px !important;
	margin-bottom: 20px;
	color: black;
}
.item-block:hover {
	outline: 1px solid #a7a7a7;
}
.item-thumbnail {
	border-bottom: 1px solid #d7d7d7;
	margin-bottom: 10px;
}

.item-browse-filters-wrapper {

}
#item-browse-filters {
	padding-top: 50px;
	position: absolute;
	/*z-index: 1;*/
	max-width: 140px;
	min-width: 120px;
	/*border-right: 1px solid #d7d7d7;*/
	padding-right: 10px;
	
}

#item-browse-filters .section-label {
	font-size: 12px;
	margin-bottom: 8px;
}

#item-browse-filters .item-browse-filters-section {
	border: 1px solid #dddddd;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: -10px;
	padding-top: 5px;
	margin-bottom: 5px;
}
.item-browse-controls {

}

html {
	height: 100% !important;
}
#wrapper {
	min-height: 100%;
	position: relative;
}

#header {
	
}
#content {
	margin-top: 5px;
	padding-bottom: 310px; /* Height of the footer element */
}
#content .row {
	margin-bottom: 20px;
}
#footer {
	width:100%;
	height:294px;
	position: absolute;
	bottom: 0;
	left: 0;
}

/* header */
header {
	background-color;
	color: white;
}
header .am-logo {
	height: 50px;
}
header .header-top-half {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 12px;
}
header .header-bottom-half {
	padding-top: 7px;
	padding-bottom: 7px;
}
header .header-bottom-half .nav-item-link {
	height: 50px;
	margin-right: 24px; /*50 - padding left + right*/
	color: #fff;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-right: 13px;
	padding-left: 13px;
}
header .header-bottom-half .nav-item-link:hover {
	background-color: #232f3e;
}

header .item-search-wrapper {
	padding-top: 10px;
	position: relative;
	left: 25px;
	bottom: 3px;
}
header .header-top-half .nav-search-button {
	position: relative;
	min-width: 60px;
	z-index: 1;
	right: 50px;
	border-radius: 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;

	height: 39px;
}
header .header-top-half .nav-search-icon {
	height: 18px;
}
header .header-top-half .user-action {
	position: absolute;
	height: 32px !important;
}
header .header-top-half .user-action:hover,
header .header-top-half .user-action:focus {

}
header .cart-count {
	position: relative;
    color: #e77600;
    font-size: 18px;
    font-weight: bold;
    top: 8px;
    left: 8px;
    text-align: center;
}
header .employee-action {
	position: relative;
	left: 500px;
}
header .dropdown a.nav-item {
	color: white;
}
header .dropdown a.nav-item:hover {
	background-color: #232f3e;
}
header .is-dropdown-submenu-parent a::after {
	border-color: #fff transparent transparent !important;
}
header .menu .submenu {
	background-color: #131a22;
	border: none;
}

#log {
}

#log a {
	color: white;
}
#log a:hover {
	color: #a7a7a7;
	text-decoration: underline;
}

/* footer */
footer {
	color: #fff;
	font-size: 12px;
	display: fixed !important;
}
footer .footer-top-half {
	padding-top: 15px;
	padding-bottom: 20px;
}
footer .footer-bottom-half {
	padding-top: 15px;
	padding-bottom: 20px;
}

footer .section-label {
	font-family: "Arial Black";
	font-size: 12px;
}

footer a {
	color: #fff !important;
}
footer a:hover {
	text-decoration: underline;
	color: #a7a7a7 !important;
}

footer .accepted-cards-img {
	height: 32px;
}
footer .cancan-img {
	height: 48px;
}
footer .social-media-link:hover {
	text-decoration: none !important;
}
footer .social-media-img {
	height: 32px;
	-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
	transition: 0.5s;
}
footer .social-media-img:hover {
	text-decoration: none;
}

/* Jokes */
.forgot-password-joke:after {
	content: 'Forget your password?';
}
.forgot-password-joke:hover:after {
	content: 'Too bad.';
}

/*#error_explanation {
	margin-top: 80px;
	padding: 15px 20px;
}

.error {
	position: relative;
	background-color: #e01313 !important;
	border-radius: 4px !important;

	margin-top: -20px !important;
	padding-bottom: 3px !important;
	z-index: -1 !important;
}*/

/* Cart */
.cart-action-link {

}
.cart-action-link:hover,
.cart-action-link:focus {
	
}

.accepted-cards-img {
	height: 32px;
}